<% include ./partials/header %>



EDIT SCHEME
<hr>
<form class="ui form" action="updatescheme" method="post">
  <input type="hidden" name="id" value="<%=data._id%>">

  <div class="field">
    <b>SCHEME NAME</b>
    <hr>
    <input type="text" name="name" value="<%=data.name%> " required>
  </div>

<br><b>CONDITIONS FOR SCHEME</b>
<hr><br>
<div class="ui grid">
  <div class="four wide blue column">
    <div class="field">
      <label>Category</label>
      <div class="ui dropdown button"  name="cat" id="cat">
        <input name="category" type="hidden" value="<%=data.category%>">
        <i class="filter icon"></i>
        <span class="text"><%=data.category%></span>
        <div class="menu">
          <div class="item" data-value="all">All</div>
          <div class="item" data-value="Open">Genral</div>
          <div class="item" data-value="SEBC">SEBC</div>
          <div class="item" data-value="SC">SC</div>
          <div class="item" data-value="ST">ST</div>
        </div><!-- menu -->
      </div><!-- OtherDropdown -->
    </div><!--f  -->
  </div>
  <div class="three wide blue column">
    <div class="field">
      <label>Gender</label>
      <div class="ui dropdown button"   id="gender">
        <input name="gender" type="hidden" value="<%=data.gender%>">
        <i class="filter icon"></i>
        <span class="text"><%=data.gender%></span>
        <div class="menu">
          <div class="item" data-value="both">Both</div>
          <div class="item" data-value="male">male</div>
          <div class="item" data-value="female">Female</div>
        </div><!-- menu -->
      </div><!-- OtherDropdown -->
    </div><!--f  -->
  </div>
  <div class="four wide blue column">
    <div class="field">
      <label>Family Income</label>
      <div class="ui right labeled input">
        <input name="income" type="number" value="<%=data.income%>">
        <div class="ui dropdown button" id="rel" >
          <input name="cond" type="hidden">
          <span><%=data.incomeCondition%></span>
          <div class="menu" >
            <div class="item" data-value=">="><b>>=</b></div>
            <div class="item" data-value="<="><b><=</b></div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="five wide blue column">
    <!-- remaining blocks -->
  </div>


</div>

  <div class="ui  grid">
    <div class="four wide blue column">
      <div class="field">
        <label>Min. 12th Marks</label>
        <div class="ui right labeled input">
          <input name="marks" type="Number" value="<%=data.marks%>">
          <div class="ui basic label">%</div>
        </div>
      </div>
  </div>
  <div class="three wide blue column">
    <div class="field">
      <label>Year of Study</label>
      <div class="ui dropdown button"  name="comparision" id="year">
        <input name="yearofstudy" type="hidden"value="<%=data.year%>" >
        <i class="filter icon"></i>
        <span class="text"><%=data.year%></span>
        <div class="menu">
          <div class="item" data-value="all">All</div>
          <div class="item" data-value="one">1st</div>
          <div class="item" data-value="two">2nd</div>
          <div class="item" data-value="three">3rd</div>
          <div class="item" data-value="four">4th</div>
        </div><!-- menu -->
      </div><!-- OtherDropdown -->
    </div>
  </div>
  <div class="four wide blue column">
    <div class="field">
      <label>Residency</label>
      <div class="ui dropdown button"  name="comparision" id="residency">
        <input name="residency" type="hidden" value="<%=data.residency%>" >
        <i class="filter icon"></i>
        <span class="text"><%=data.residency%></span>
        <div class="menu">
          <div class="item" data-value="both">Both </div>
          <div class="item" data-value="hl">Gov. Hostel</div>
          <div class="item" data-value="pr">Personal Residence</div>
        </div><!-- menu -->
      </div><!-- OtherDropdown -->
    </div>
  </div>
  <div class="five wide blue column">
    <!-- remaining blocks -->
  </div>

</div>


<br><br><br>
  <div class="field">
    <div class="ui input">
      <button class="ui blue button" type="submit" name="button" id="tog" >Insert</button>
    </div>
  </div>


</form>
<% include ../partials/footer %>
<script type="text/javascript">
$('#cat').dropdown({on:'hover'});
$('#comparision').dropdown({on:'hover'});
$('#year').dropdown({on:'hover'});
$('#residency').dropdown({on:'hover'});
$('#rel').dropdown({on:'hover'});
$('#gender').dropdown({on:'hover'});






</script>
