<%
if(currentUser.role=="user"){
  %>
  <% include ./user/partials/header %>
<%}
else if(currentUser.role=="admin"){
  %>
  <% include ./admin/partials/header %>
<%}else if(currentUser.role=="student"){
  %>
  <% include ./student/partials/header %>
<%}%>
  <br>
  <div class="ui container">
    <!--======================================================================  -->
   <!--====================== Edit form ===================================  -->
   <!--======================================================================  -->

   <% if(currentUser.role=="user"||currentUser.role=="admin"){ %>
     <form  action="/edit" method="get">
     <input type="hidden" name="searched_enroll" value="<%=data._id%>">
     <button style="float:right;" class="ui  positive button" type="submit" value="">Edit</button>
     </form>
   <%}%>

   <!--======================================================================  -->
  <!--====================== User Profile layout  ===================================  -->
  <!--======================================================================  -->
  <br><br>
  <div class="ui  cards">
    <div class="image ui small rounded">
      <img src="https://semantic-ui.com/images/avatar/large/elliot.jpg">
    </div>
    <pre style="font-weight:bold;">
      Name               : <%= data.basic.name %>
      Enrollment No.     : <%= data._id %>
      Branch             : <%= data.basic.branch %>
      Mobile No.         : <%= data.basic.mob_no %>
      Email ID           : <%= data.basic.email %>
      Address Permanent  : <%= data.basic.add_p %>
      Course             : <%= data.basic.course %>
    </pre>
  </div>

<br><br>

    <!--======================================================================  -->
    <!--====================== Basic Details Layout===================================  -->
    <!--======================================================================  -->
    <div class="ui grid">

      <div class="eight wide column">
        <table class="ui red table">

          <thead>
              <tr>
                <th colspan="4">Basic Details</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="4">Enrollment No. : <%=data._id%></td>

            </tr>
            <tr>
              <td> Course </td>
              <td><%=data.basic.course %></td>
              <td> Name </td>
              <td><%=data.basic.name %> </td>
            </tr>
            <tr>
              <td> Age </td>
              <td><%= data.basic.age %>  </td>
              <td> Gender </td>
              <td><%= data.basic.gender %></td>
            </tr>
            <tr>
              <td> Category</td>
              <td><%= data.basic.category %></td>
              <td> Mode of Admission </td>
              <td><%= data.basic.mode_of_adm %></td>
            </tr>
            <tr>
              <td> Mobile No. </td>
              <td><%= data.basic.mob_no %></td>
              <td> Email ID </td>
              <td><%= data.basic.email %></td>
            </tr>
            <tr>
              <td>Address Temporary </td>
              <td><%= data.basic.add_t %></td>
              <td>Address Permanent </td>
              <td><%= data.basic.add_p %></td>
            </tr>
            <tr>
              <td> TFW </td>
              <td><%= data.basic.tfw %></td>
              <td> Branch </td>
              <td><%= data.basic.branch %></td>
            </tr>
            <tr>
              <td>D.O.B. </td>
              <td><%= data.basic.dob %></td>
              <td>Current Semester</td>
              <td><%= data.cur_sem %></td>
            </tr>
          </tbody>
        </table>
      </div>



      <!-- ====================================================================== -->
      <!-- ===================== Exam fee Layout ================================ -->
      <!-- ====================================================================== -->
      <div class="four wide column">
        <table class="ui celled table blue">
          <thead>
            <thead>
                <tr>
                  <th rowspan="2">Semester</th>
                  <th colspan="2">Exam Fees</th>
                </tr>
                <tr>
                  <th>Regular</th>
                  <th>Remedial</th>
                </tr>

          </thead>
          <tbody>

            <%   var cusem = 0 ;
          cusem =  data.cur_sem;
          var i=0;
    for( i=1;i< cusem ;i++){
          %>
          <tr>
            <td>
              <%=i %>
            </td>
            <td>
              <%=data['s_'+i].Exam_fee_Reg %>
            </td>
            <td>
              <%=data['s_'+i].Exam_fee_Rem %>
            </td>
          </tr>
          <% if(data.hasOwnProperty(['D_'+i].Exam_fee_Rem) ){ %>
          <tr>
            <td>
              <%=i %> Detained
            </td>
            <td colspan="2">
              <%=data['D_'+i].Exam_fee_Rem %>
            </td>
          </tr>
          <% }
           }
         %>

          </tbody>
        </table>

      </div>
      <!--====================================================================  -->
      <!--==================== Term fee Layout ===============================  -->
      <!--=====================================================================  -->
      <div class="four wide column">
        <table class="ui celled yellow table">
          <thead>
                <tr>
                  <th >Semester</th>
                  <th>Term Fee</th>
                </tr>
          </thead>
          <%
          var i=0;
         for( i=1;i<data.cur_sem;i++){
           var s;
           s = 's_'+i;
           %>
            <tr>
              <td>
                <%=i %>
              </td>
              <td>
                <%=data[s].Term_fee %>
              </td>
            </tr>
            <% }
            if(data['s_'+i].Term_fee){
              %>
              <tr>
                <td>
                  <%=i %>
                </td>
                <td>
                  <%=data[s].Term_fee %>
                </td>
              </tr>
              <%
            }
             %>


        </table>
      </div>



  <% for(var i = 1;i< data.cur_sem;i++) {
         var sem ;
         sem = "s_" + i;
         var total_sub = data[sem].Tsubject; %>
         <div class="twelve wide column">
<table class="ui  celled green table">
  <thead>
    <tr>
      <th colspan="9">Semester : <%= i %></th>
    </tr>
    <tr>
      <th rowspan="2">Subject Code</th>
      <th rowspan="2">Subject Name</th>
      <th colspan="3">Theory</th>
      <th colspan="3">Practical</th>
      <th rowspan="2">Subject Grade</th>
    </tr>
    <tr>
      <th>ESE</th>
      <th>PA</th>
      <th>Total</th>
      <th>ESE</th>
      <th>PA</th>
      <th>Total</th>
    </tr>
  </thead>
  <%  for (var j = 1; j < 7; j++) {
      var sub = "sub" +j;  %>
  <tr>
    <td><%=data[sem].result[sub].code %></td>
    <td><%=data[sem].result[sub].name %></td>
    <td><%=data[sem].result[sub].these %></td>
    <td><%=data[sem].result[sub].thpa %></td>
    <td><%=data[sem].result[sub].thtot %></td>
    <td><%=data[sem].result[sub].prese %></td>
    <td><%=data[sem].result[sub].prpa %></td>
    <td><%=data[sem].result[sub].prtot %></td>
    <td><%=data[sem].result[sub].sub_grade %></td>
  </tr>
  <% }  %>
  <thead>
  <tr>
  <th colspan="9"><pre>  SPI: <%= data[sem].result.spi %>   CPI: <%=data.cpi %>   Result: <%=data[sem].result.res %>   </pre>   </th>
  </tr>
  </thead>
</table>
</div>
    <% } %>
</div><%# container %>
</div>
  <% include ./partials/footer %>
